body {
  font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.55)), url(../imgs/cubes.png);
}

html {
  position: relative;
  min-height: 100%;
}

#game {
  margin-top: 120px;
  font-size: 3.9em;
  margin: 0 auto;
  margin-left: 50px;
}

#game, #scoreBox, #instructions {
  border-radius: 15px;
  background-color: #fff;
}

#gameContainer {
  margin-left: -20px;
}

#scoreBox {
  font-size: 1.5em;
  margin-top: 60px;
  margin-left: 3%; 
}

#instructions {
  margin-top: 60px;
  margin-left: 1%;
}

#instructions > p {
  margin-top: 72px;
  letter-spacing: 3.1px;
  padding-bottom: 70px;
  font-size: 1.3em;
}

#attn {
  color: red;
}

#scoreBox > p {
 margin-left: 45px;
 padding-top: 20px;
}


#fights > p {
  padding-top: 50px;
  color: #555;
  font-size: 45px;
  padding-bottom: 30px;
}

#game > p {
  padding-top: 60px;
  color: #555;
  letter-spacing: 15px;
  font-weight: bold;
  padding-bottom: 50px;
}
